#container{
  width: 100%;
  height: 100%;
}

/* header */
#header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #ffefe3;
  margin-top: -7px;
}

#header-content {
  width: 733px;
  height: 75px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
}
  
.header-content_discount{
  width: 65px;
  height: 65px;
  border-radius: 60px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #25265E;
  border: 1px solid #101138;
  transform: rotate(-12deg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(253, 253, 253);
  font-size: 15px;
  font-weight: bold;
}

.header-content_txt1 {
  font-size: 27px;
  position: absolute;
  margin-top: 2px;
  margin-left: 80px;
  color: #25265E;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-content_txt2{
  font-size: 16.5px;
  position: absolute;
  margin-top: 43px;
  margin-left: 80px;
  color: #25265E;
} 

/* menu  */
  #nav-menu{
    width: 100%;
    width: 700px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: end;
    font-size: 18px;
    margin-top: 120px;
    margin-right: 350px;
    font-family:  Arial;
  }
  
  #nav-menu_button{
    width: 18px;
    height: 18px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: grey;
  }
  

  #page01{
    width: 919px;
    height: 410px;
    display: flex;
    position: absolute;
    margin-top: 230px; 
    margin-right: 130px;
    
  }

  .page01-txt1{
    display: flex;
    position: absolute;
    font-size: 35px;
    line-height: 1.5;
    font-weight: bold;
    color: #25265E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .page01-text2{   
    margin-top: 140px;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 70%;
  }
  
  .page01-text3{
    display: flex;
    position: absolute;
    margin-top: 280px;
    color: #66678E;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .page01-text4{
    height: 50px;
    width: 379px;
    display: flex;
    position: absolute;
    margin-top: 325px;
  }

  .page01-text4-input{
    font-size: 15px;
    width: 260px;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid rgb(155, 149, 149);
  }
  
  .page01-text4-Button{
    font-size: 15px;
    width: 111px;
    height: 54px;
    font-weight: bold;
    background-color: #0556F3;
    color: aliceblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: none;
    margin-left: -3.9px;
  }

  .page01-image01-img{
    width: 470px;
    height: 400px;
    display: flex;
    position: absolute;
    margin-left: 70px;
  }
